@media screen and (max-width: 768px) {
  .avt-banner {
    display: none;
  }
  .nav-bar {
    height: auto;
    display: block;
    padding-left: 10px;
    text-align: left;
  }
  .nav-bar a:link,
  a:visited {
    display: block;
    padding: 10px;
    border-left: none;
    text-align: left;
  }
  .cer-content-2 {
    border-left: 0;
    border-top: 2px solid #d6c08d;
    padding-top: 20px;
  }
  .project-border {
    font-size: 14px;
    padding: 10px 4px !important;
    border-bottom: 1px solid;
  }
  #footer a:link {
    margin-right: 10px;
  }
}
